body {
    margin: 0;
    background-color:white;
    font-family: "Comic Relief", system-ui;
    background-image: url(kepek/possible_hatter.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



header {

    background-color: #BBDCE5;
    text-align: center;
    padding: 2vw;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 2.3rem;
}

img{
    width: 30%;
    display: block;
    margin: right;
    float: right;
    margin: 0.5vw;
    border-radius: 3vw;
}

h2 {
    color: #50a485;
    text-transform: uppercase;
}

#lab{
       list-style-type: none;
}
footer{
    margin: 1vw auto;
    width: 80%;
    background-color: #D9C4B0;
    text-align: center;
    border-radius: 3vw

 
}
#logo{
    display: block;
    margin: auto;
    width: 15%;
}

article{
    background-color: #BBDCE5;
    padding: 10px;
    border-radius: 3vw;
    width: 80%;
    margin: 1vw auto;
    padding: 2vw;
}

ul {
    padding: 20px;
}

.elsoSzekcio {
    display: flex;
    justify-content: space-around;
}

/* Reset some default styling */
  
.navbar {
    background-color:#D9C4B0;
    padding:  0;
  }
  
.nav-menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
.nav-menu li {
    position: relative;
}
  
.nav-menu a {
    display: block;
    color: #2b6948;
    padding: 14px 20px;
    text-decoration: none;
    transition: background 0.3s;
}
  
.nav-menu a:hover {
    background-color: #24c16d;;
  }
  
#sport{
    text-align: justify;
}