body {
    margin: 0;
    background-color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(kepek/possible_hatter.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



header {
    background-color: #BBDCE5;
    text-align: center;
    padding: 2vw;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 2vw;
}

#headerlogo{
    display: block;
    float: right;
    width: 10%;
    padding-right: 20%;
}
#foci{
        width: 30%;
    display: block;
    margin: right;
    float: right;
    margin: 0.5vw;
    border-radius: 3vw;
}
#logo{
    width: 30%;
    display: block;
    margin: right;
    float: right;
    margin: 0.5vw;
    border-radius: 3vw;
}
h1{
    padding-left: 20%;
}

h2 {
    text-transform: uppercase;
}

footer{
    margin: 1vw auto;
    width: 80%;
    background-color: wheat;
    padding: 0%;
    border-radius: 3vw;
    padding: 2vw; 
    font-size: 1.5vw;
}

#logo{
    display: block;
    margin: auto;
    width: 32%;
}

#copyright {
    padding-top: 6vw;
    text-align: center;
}

article{
    background-color: #BBDCE5;
    padding: 1.2vw;
    border-radius: 3vw;
    width: 80%;
    margin: 1vw auto;
    padding: 2vw;
    font-size: 1.5vw;
    line-height: 2vw;
}

ul {
    padding: 2vw;
}

.elsoSzekcio {
    display: flex;
    justify-content: space-around;
}

  
.navbar {
    background-color:wheat;
    padding:  0;
    font-size: 1.5vw;
  }
  
.nav-menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
.nav-menu li {
    position: relative;
}
  
.nav-menu a {
    display: block;
    color: black;
    padding: 1vw 1.2vw;
    text-decoration: none;
    transition: background 0.3s;
}
  
.nav-menu a:hover {
    background-color: rgb(211, 192, 156);
  }
  
#sport{
    text-align: justify;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5vw;  
  border: none;
  outline: none;
  color: black;
  padding: 1vw 1.2vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(211, 192, 156);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:wheat;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1vw 1.2vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#Szak{
    list-style-image: ⚽;
}