body{
    margin: 0%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #12181f;
    color: white;
}
header {
    background-color: #BBDCE5;
    text-align: center;
    padding: 2vw;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 2vw;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 4vw;
}
p{
    text-align: center;
    font-size: 1,9vw;
    font-weight: bold;
}
.actions{
    display: flex;
    justify-content: center;
}
.actons button{
    padding: 0.3vw 0.6vw;
    font-size: 1.9vw;
    border-radius: 1vw;
    background-color: #27ae60;
    color: white;
}
.grid-container{
    display: grid;
    justify-content: center;
    grid-gap: 1.2vw;
    grid-template-columns: repeat(6,10vw);
    grid-template-rows: repeat(2,calc(10vw/2*3));
}
.card{
    height: calc(10vw/2*3);
    width: 10vw;
    border-radius: 1vw;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.front-image{
    width: 5vw;
    height: 5vh;
}
.card.flipped{
    transform: rotateY(180deg);
}
.front,
.back{
    backface-visibility: hidden;
    position:absolute;
    border-radius: 1vw;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.navbar {
    background-color:wheat;
    padding:  0;
    font-size: 1.5vw;
  }
  
.nav-menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
.nav-menu li {
    position: relative;
}
  
.nav-menu a {
    display: block;
    color: black;
    padding: 1vw 1.2vw;
    text-decoration: none;
    transition: background 0.3s;
}
  
.nav-menu a:hover {
    background-color: rgb(211, 192, 156);
  }
  
#sport{
    text-align: justify;
    text-indent: 1em;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5vw;  
  border: none;
  outline: none;
  color: black;
  padding: 1vw 1.2vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(211, 192, 156);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:wheat;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1vw 1.2vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}